doctype html
html
  head
  body
    h1 My Site
    p Welcome to my super lame site.
    div(class="card")
      footer(class="card-footer")
        a(class="card-footer-item", href="#") Save
        a(class="card-footer-item", href="#") Edit
        a(class="card-footer-item", href="#") Delete