footer(class="footer", style="position: relative")
  div(class="footer-info")
    div(class="icon-text icon-container")
      span(class="icon")
        i(class="fas fa-lg fa-map-marker-alt")
      span(class="info-text") Company adress: Lorem ipsum dolor sit amet

    div(class="icon-text icon-container")
      span(class="icon")
        i(class="fas fa-lg fa-phone-alt")
      span(class="info-text") +38 958 755-00-00

  div(class="content has-text-centered footer-text")
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolorem odio dolorum accusantium, ipsam placeat culpa, reprehenderit alias vitae, tempora voluptas doloremque vero. Dicta, fugiat! Eveniet eum atque nesciunt deleniti!
