nav(class="navbar header", role="navigation", aria-label="main navigation")
  div(class="navbar-brand")
    a(class="navbar-item", href="#")
      img(src="https://bulma.io/images/bulma-logo.png", width="112", height="28")

    a(role="button", class="navbar-burger", aria-label="menu", aria-expanded="false", data-target="navbarBasicExample")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")

  div(id="navbarBasicExample", class="navbar-menu")
    div(class="navbar-start")
      each val in environment.nav
        a(class="navbar-item", href=`${val.href}`) #{val.text}

    div(class="navbar-end")
      div(class="navbar-item")
        div(class="buttons")
          a(class="button is-primary")
            strong Sign up
          a(class="button is-light") Log in